# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=your_sanity_api_token

# Resend (email)
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=contact@amuseevents.co.uk
RESEND_TO_EMAIL=contact@amuseevents.co.uk

# Visisto ticketing
NEXT_PUBLIC_VISISTO_EMBED_BASE_URL=https://tickets.visisto.com/embed
